@font-face {
    font-family: 'Knewave';
    src: url('../../assets/fonts/Knewave/Knewave-Regular.ttf');
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 1rem;
}


#hero {
    width: 100vw;
    height: 100vh;


    background-image: url('../../assets/images/wave-UserRegister.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}


header {
    top: 0;
    left: 0;

    display: flex


}

.logo {
    font-family: 'Knewave';
    font-size: 28pt;
    margin: 1rem;
    letter-spacing: 1pt;
    font-weight: 100;

}

.logoLink {
    color: white;
    text-decoration: none;
    
}




.text_container {
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.text_container h1 {
    font-size: 18pt;
    margin-bottom: 4rem;
}

.text_container p {
    font-size: 13pt;
}

.form_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 2rem;

}
.googleAuth, .facebookAuth {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.googleAuth img {
    width: 35px;
    height: 35px;

    position: absolute;
    left: 5%;
    top: 50%;

    transform: translateY(-50%);
}

.facebookAuth img {
    width: 50px;
    height: 50px;


    position: absolute;
    left: 3.5%;
    top: 50%;

    transform: translateY(-50%);
}

.btnLoginContainer {
    padding: 3rem 0rem;
}

.btnLoginContainer p {
    margin-bottom: 3rem;
    font-size: 13pt;
}



