.navBar {
    display: flex;

    position: fixed;
    left: 0;
    top: 0;
    
    justify-content: space-around;
    align-items: center;

    height: 80px;
    min-width: 100%;

    padding: 2.4rem;

    background-color: #efefef;
    border: 2px;
}

.logoImage {
    width: 70px;
    height: 70px;
}

.wrapper {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.wrapper li{
    position: relative;
    
}

.wrapper li:hover {
    cursor: pointer;
}

.wrapper li::before {
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    width: 0%;
    height: 4px;
    background: none;
}



.wrapper li:hover::before {
    background: #fa7f72;
    width: 100%;
    transition: 300ms all ease;
}


.wrapperButtons{
    display: flex;
    gap: 1rem;
} 

.btnCadastrar {
    border: none;
}

.btnEntrar {
    border: none;
    background-color:#fa7f72;
    padding: 0.4rem;
    border-radius: 0.25rem;
}